*{
    color: rgb(27, 27, 31);
    margin: 0;
    padding: 0;
}
a{
    color: rgb(27, 27, 31)!important;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(177, 144, 255);
    padding: 5px 20px
}
nav.logo{
    padding: 10px;
}
nav .links{
    display: flex;
}
